# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# Contracts
artifacts
cache
typechain-types

# Coverage
coverage

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/migrations/dev.db
